{% extends viewType %}
{% block content %}
<h1>Log of events</h1>
{% if devEvents %}
  <table>
  {% for ev in devEvents %}
    <tr>
    <td><a href="/core/{{ ev.device.id }}/">{{ ev.device }}</a></td>
    <td>{{ ev.command }}</td>
    <td>{{ ev.doneAt|date:"D H:i" }}</td>
    </tr>		  
  {% endfor %}
  </table>

{% else %}
    <p>No Events are available.</p>
{% endif %}
{% endblock %}
