{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" hr\
ef="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<h1>Comming Events</h1>
{% if events %}
  <table>
  {% for ev in events %}
    <tr>
    <td><a href="/core/events/admin/{{ ev.id }}/">{{ ev.device }}</a></td>
    <td>{{ ev.command }}</td>
    <td>{{ ev.doAt|date:"D H:i" }}</td>
    <td><a href="/core/events/admin/{{ ev.id }}/cancel">Cancel</a></td>
    <td><a href="/core/events/admin/{{ ev.id }}/delay/60/">Delay 1h</a></td>
    </tr>		  
  {% endfor %}
  </table>

{% else %}
    <p>No Events are available.</p>
{% endif %}
{% endblock %}
{% block sidebar %}
{% endblock %}
