{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/static/automagically/admin/css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<h1>Welcome to Automagically @ Raspberry Pi</h1>

<img src="/static/automagically/apple-touch-icon-57x57-precomposed.png">
Developed by David Karlsson<p><a href="mailto:david.karlsson.80@gmail.com">david.karlsson.80@gmail.com</a><p><p>

For project updates visit my blog:<p>
<a href="http://automagically.weebly.com">automagically.weebly.com</a><p>

If you like this piece of software I would be very happy to hear that!<p>

<a href="/core/">Go back to main page</a>
{% endblock %}
