{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<h1>Send Learn codes</h1>
{% if devList %}
Please note that sending learn codes does not work for all type of devices. This list does not filter out devices that does not support learn codes.<p>
Start by setting the switch in programming mode. For example by pressing and holding its button or just pressing (depends on brand). Then press the LEARN link below.<p>
    {% for dev in devList %}
        <h2>{{ dev.name }} <a href="/core/learn/{{ dev.id }}/{{ cmds.LEARN }}/">LEARN</a></h2>
        <a href="/core/learn/{{ dev.id }}/{{ cmds.ON }}/">ON</a><br>
        <a href="/core/learn/{{ dev.id }}/{{ cmds.OFF }}/">OFF</a><br>
	<hr>
    {% endfor %}

{% else %}
    <p>No Devices are available.</p>
{% endif %}
{% endblock %}
{% block sidebar %}
{% endblock %}
