{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<h2>Remotes</h2>
<table>
<tr>
<th>&nbsp;</th><th>Name</th><th>Theme</th><th>&nbsp;</th><th>&nbsp;</th>
</tr>
{% if remotes %}
    {% for remote in remotes %}
<tr>
<td>
{% if myRemote == remote.id %}
Current
{% endif %}
</td>
<td>{{ remote.name }}</td><td>{{ remote.theme.name }}</td>
<td><a href="/remote/{{ remote.id }}/0/">Try</a></td>
<td><a href="/remote/change/{{ remote.id }}/">Set as my remote</a></td>
</tr>
    {% endfor %}
{% else %}
<p>No remotes are available.</p>
{% endif %}
{% endblock %}
{% block sidebar %}
{% endblock %}
