<h1>Welcome to Automagically @ Raspberry Pi</h1>

Developed by David Karlsson<br><a href="mailto:david.karlsson.80@gmail.com">david.karlsson.80@gmail.com</a><p>

For updates visit my blog:<br>
<a href="http://automagically.weebly.com">automagically.weebly.com</a><p>

If you like this piece of software I would be very happy to hear that!

<a href="/core/">Go back to main page</a>
